body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: lightblue;
}
/*Global */
.container{
    width:80%;
    margin:auto;
    overflow: hidden;
}
ul{
    margin:0;
    padding:0;
}
.btn-1{
    height: 34px;
    border:none;
    padding: 0 20px;
}
/* Header */
header{
    background: rgb(48, 45, 45);
    padding-top: 30px;
    color: aliceblue;
    min-height: 70px;
    border-bottom: 2px solid rgb(82, 58, 104);
}

header a {
    color:aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size:18px;
}


header li{
    float: left;
    display:inline;
    padding: 0px 20px;
}
header #branding{
    float: left;
}
header #branding h1 {
 margin:0;
}
header nav{
    float: right;
    margin-top:14px;
}

header a:hover{
    color:lightcoral;
}

/*Showcase*/

#showcase{
    min-height: 400px;
    background:url(./images/computer-1209641_1920.jpg) no-repeat center center;
    text-align: center;
    color:aliceblue;
}
#showcase h1 {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 700;
}
#showcase p {
    font-weight: 400;
}

/* Newsletter */
#newsletter{
    padding:15px;
    color: aliceblue;
    background:rgb(48, 45, 45);
}
#newsletter h1{
    float: left
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding:2px;
    height:25px;
    width:200px;
}


/*Boxes*/
#boxes{
    margin-top: 30px;
}
#boxes i{
    font-size:60px;
}
#boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding: 10px;
}

/* Footer */
footer{
    padding:10px;
    margin-top: 30px;
    text-align: center;
    background: rgb(104, 71, 104);
    font-size: 18px;
}









