*{
    box-sizing: border-box;
}
body{
    background:#dff9fb;
    color: #30336b;
    line-height: 1.5;
    padding: 1em;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

ul{
    list-style: none;
    padding: 0;
}
.brand {
    text-align: center;
}
.wrapper{
    box-shadow: 0 0 20px 8px #30336bc0;
}
.wrapper > *{
    padding: 1em;
}
.company-info{
    background:#7ed6df;
}
.company-info{
    text-align: center;
}
.company-info i{
    margin-right: 10px;
}
.company-info span{
    display: table-row-group;
    width: 30px;
    margin-right: 10px;
}
.contact{
    background: rgb(243, 243, 243);
}

.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
    text-align: center;
}
.contact form label{
    display: block;
}
.contact form p{
    margin: 0;
}
.contact form .full{
    grid-column: 1/-1;
}
.contact form button, .contact form input, .contact form textarea{
    width: 100%;
    border: solid #30336bc0 1px;
    border-radius: 3px;
    padding: 4px;
}
.contact form button{
    background: #7ed6df;
    border-radius: 40px;
    box-shadow: 0 0 2px 4px #30336bc0;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    outline: none;
}
.contact form button:hover{
    transform: translateY(-1px);
    background: #7ed5dfad;
    box-shadow: 0 0 3px 5px #30336bc0;
}

/* Large Screens */
@media(min-width:700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .company-info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

